.main{
    background-color: black;
    color: white;
    display: flex;
    height: 90px;
    width: 100%;
    padding: 0; top: 0; left: 0;
    position: fixed;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 10px;
    align-items: center;
    border: 0;
    
}
.button{
    width: 100px;
    height: 30px;
    margin-top: 0px;
    margin-right: 10px;
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 12px;
    margin-left: 0;
    padding-left: 0;
}
.search{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 12px;
}
.c{
     margin-top: 100px; 
    padding: 10; top: 0; left: 0;
    background-color: green;
    position: relative;
    width: 100%; 
    padding-right: 0px;
    height: 200px;
}
.main1{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
    margin: 0%;
}
.html{
    margin-top: 0%; 
    padding: 0; top: 0; left: 0;
    background-color: blue;
    position: relative;
    width: 100%; 
    padding-right: 0px;
    height: 200px;
    margin: 0%;
}
.web{
    margin: 0%;
}
.java{
    margin: 0%;
}
.footer{
    text-align: center;
}
.body{
    position: sticky;
}
.a{
    text-decoration: none;
    color: white;
}
#h{
    color: hsl(240, 100%, 50%);
}
h2{

}