.main{
    background-color: rgb(5, 250, 168);
     color: white; 
     height: 60px;
     width: 100%;
     position: fixed; 
     top: 0;
     left: 0;
     

}
.foot{
    background-color: rgb(7, 250, 169);
    height: 60px ;
    position: fixed;
   
    width: 100%;  
    padding: 0px; left: 0; bottom: 0;
    /* text-align: center; */
}
p::before{
    content: "helloworld";
    font-weight: bold;
    color: blueviolet;

}